.kanban {
  display: flex;

  &__column {
    width: calc(100% / 3);
    margin-right: 16px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;

    &:last-child {
      margin-right: 0px;
    }
  }
}

.column {
  &__title {
    font-size: 1.2rem;
    font-weight: 700;
    padding: 8px 0 16px;
  }

  &__content {
  }
}

.kanban__card {
  padding: 24px;
  background-color: #f2f2f2;
  border-radius: 8px;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0px;
  }
}
