.card {
  padding: 24px 16px;
  border: 2px solid #00bfa5;
  color: #00bfa5;
  border-radius: 8px;
  cursor: grab;

  &:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
}
