.kanban__column {
  width: 100%;
  margin-right: 8px;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 12px;
  min-width: 130px;
}

.column {
  &__title {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 8px 0 16px;
    text-transform: capitalize;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__content .card {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0px;
    }
  }
}
